.page{
    margin-left: 300px;
    padding-top: 95px;
    padding-bottom: 100px;  
}
@media(max-width:768px){
    .page{
        margin-left: 0;
        padding-top: 150px;
    }
    .columns-flex{
        flex-direction: column;
    }
    .img{
        width: 100% !important;
    }
    .img img {
        width: 100%; 
        max-width: 100%;
        display: block;
        height: auto;
    }
    .list{
        width: 100% !important;
    }
   
    
    
}
.img{
    width: 20%;
    position: relative;
    height: 250px;
}
.img img{
    max-width: 100%;
    display: block;
    height: 150px;
}
.img p{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    left:0;
    bottom: 40px;
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
}
.img button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: white;
}
.img button:hover{
    background-color: red;
    color: white;
}
.columns-flex{
    display:flex;
    gap: 10px;
}

.list{
    width:90%;
    margin-top: 15px;
}
.delete{
    margin-right: 15px;
    align-self: center;
    padding: 15px;
    border-radius: 100%;
}

.delete:hover{
    background-color:white;
}

.video{
   display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.video p{
    margin: 0;
}

.video:hover{
    background-color: lightgrey;
    border-radius: 15px;
}
.video-link{
    text-decoration: none;
    color: black;
}
.video-link:hover{
    color: #007bff;
}
.btn{
    padding: 10px;
    color: white;
    background-color: rgb(36, 217, 214);
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(66, 204, 84);
    color: black;
    cursor:pointer;
}