.mobilebar{
    display: none;
}



@media(max-width:768px){
    .mobilebar{
        box-sizing: border-box;
        display: inline;
        padding: 10px;
        border-radius: 10px;
        margin: 10px 0;
        position: fixed;
        top: 65px;
        left: 0;
        width: 100vw;
        background: white;
        z-index: 999;
    }
    
}