.mobilebar{
    display: none;
}



@media(max-width:768px){
    .mobilebar{
        display: inline;
        padding: 10px;
        border-radius: 10px;
        margin: 10px 20px;
        position: fixed;
        top: 60px;
        left: 0;
        width: 95vw;
        background: white;
        z-index: 999;
    }
    
}