.input{
    padding: 10px;
    border-radius: 50px;
    width: 50%;
}
.clear{
    background-color:black;
    color: white;
    border-radius: 15px;
    width: 70px;
}
.clear:hover{
    background-color: red;
    cursor: pointer;
}