.link{
    text-decoration: none;
    color: black;
}
.navbar{
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
}
.search{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.user-icon{
    margin-right: 60px;
}

@media(max-width:768px){
    .search{
        display: none;
    }
    .navbar{
        justify-content: space-between;
        z-index: 999;
    }
}
