
.sidebar {
    width: 270px;
    height: 100vh;
    position: fixed;
    margin-top: 100px;
    left: 0;
    background-color: white;
    padding-left: 10px;
}
.tags{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 25px;
    text-decoration: none;
    color: black;
    border-radius: 50px;
}

.tags:hover{
    background-color: lightgray;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.active{
    background-color: lightgrey;
    font-weight: bold;
}

/* @media(max-width:768px){
    .sidebar{
        position:fixed;
        left:0;
        bottom: 0;
        display: flex;
        height: auto;
        width: 100%;
    }
    .sidebar>*{
        flex-grow: 1;
    }
} */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;  
        left: 0;
        bottom: 0;  
        margin: 0;
        width: 100vw;
        height: auto;  
        display: flex;
        gap: 35px;
        align-items: center;
        background: white;
        z-index: 1000;
        border-top: 1px solid #ddd;
        padding: 5px 0;
        box-sizing: border-box;
    }

    .sidebar > * {
        flex-shrink: 1;
        text-align: center;
        width: 5px;
        font-size: 10px;
    }
}

